body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://wallpaperaccess.com/full/1812875.jpg');
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Change the last value (0.8) for the desired transparency level */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container > div {
    margin-bottom: 20px;
}

button {
    background-color: #636568;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.output-container {
    text-align: center;
}

p {
    font-size: 18px;
}
